################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/DesginUrlShortner/obj
/src/DesginUrlShortner/bin
/backend/.vs
/backend/DesginUrlShortner/bin/Debug/net8.0
/backend/DesginUrlShortner/obj
